table {
    width: 100%;
  
  }

  .mat-table-employees {
    height: calc(100vh - 330px);
    min-width: calc((30 * 160px) + 160px);
    overflow: scroll;   
}


.text-table-count{
  font-weight: bold !important;
}


.mat-tooltip {
  color: white !important;
  background : black;
  border: 1px solid white; 
  font-size: 12px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom : 5px;
  padding-left : 2px;
  padding-right : 2px;
  opacity: 0.7;
}


.element-row {
  position: relative;
}

.element-row {
  cursor: pointer;
}

.element-row:hover {
  background: #f5f5f5;
  /* border-top-width: 2px;
  border-bottom-width: 2px; */
  border-top-color: black;
  border-bottom-color: black;

}

.element-row.selected {
 
  background:rgb(218, 255, 221);
  border-bottom-color:rgb(224, 14, 84);
  border-bottom-width: 2px;
}

.flag-mini
{
  border-image: 1px;
}


/* .mat-row.selected.mat-cell
{
  color : rgb(172, 236, 172) !important;
} */

.element-row.deleted {
  text-decoration: line-through;
  color : red !important;
}


mat-header-row {
    position: sticky !important;
    position: -webkit-sticky !important;
    top: -.5px !important;
    z-index: 100 !important;
    background-color: inherit !important;
    white-space: nowrap !important;
    text-align: center !important;
    align-items: center !important;
}


mat-cell
{
  padding : 5px;
  min-width: 160px;
  text-align: left;
  align-items: center;
  align-content: center;
  color : black !important;
}


mat-header-cell {
  padding : 5px;
  min-width: 160px;
  text-align: left;
  align-items: center;
  align-content: center;
}

div.mat-sort-header-container
{
  font-weight: bold !important;
  font-size: 14px;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .mat-column-FileName {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 100px !important;
    width: 100px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }


  .icon-employees
  {
      color : white;
      font-weight: normal;
      display: inline-block;
      margin-right : 5px;
      vertical-align: top;
  }

  .btn-refresh
  {
    color : white;
    font-weight: normal;
    display: inline-block;
    cursor: pointer;
    margin-left : 5px;
  }

  .btn-refresh:hover
  {
    color : white;
    font-weight: normal; 
    display: inline-block;
    cursor: pointer;
    margin-left : 5px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transition-duration: 1s;
    transition: all 1s;
  }

.header-show-active-checkbox
{
  vertical-align: top;
  margin-top: 5px;
  color:rgb(104, 104, 104) !important;
  font-weight: bold;
  display: inline-block;
  margin-left: 100px;
}

.header-show-active-checkbox-active
{
  vertical-align: top;
  margin-top: 5px;
  color:rgb(224, 14, 84) !important;
  font-weight: bold;
  display: inline-block;
  margin-left: 100px;
}

.text-filter
{
 color:rgb(224, 14, 84) !important;
  font-weight: bold;
  width : 100%;
}
 
  /* mat-row:nth-child(even){
    background-color : #fff;
    }

   mat-row:nth-child(odd){
    background-color: #eee;
    } */


    