.align-card {
    height: 120px;
    margin-top: 40px;
    width: 100%;
    text-align: center ;
}

.spinner {
    width: 70px;
    text-align: center !important;
    align-content: center !important;
    align-items: center !important;
    font-size: 12px !important;
    color:  #ff6600 !important;
    margin-top : 10px;
  }


.mat-tooltip {
    color: white !important;
    background : black;
    border: 1px solid white; 
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom : 5px;
    padding-left : 2px;
    padding-right : 2px;
    opacity: 0.7;
  }

  .icon-lock
  {
      color : white;
      font-weight: normal;
      display: inline-block;
      margin-right : 5px;
      vertical-align: top;
  }
  
  .spinner > div {
    width: 8px;
    height: 8px;
    background-color: #ff6600;
    margin: 2px;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

